.custom-button.btn {
    height: 500px;
    width: 250px;
    padding: 0;
    margin: 2rem;
  }
  


  /* Estilo para el botón de Blog */
  .blog-button {
    background-color: #2D375B; /* Color personalizado para Blog */
    border-color: #2D375B;
  }
  
  .blog-button:hover {
    background-color: #1a223b; /* Color al pasar el ratón */
    border-color: #1a223b;
  }
  
  /* Estilo para el botón de Sobre mí */
  .sobre-mi-button {
    background-color: #299FB2; /* El color que deseas para el fondo */
    border-color: #299FB2;   
  }
  
  .sobre-mi-button:hover {
    background-color: #1f7a8c; /* Color cuando el botón se pasa por encima */
    border-color: #1f7a8c;
  }
  
  /* Estilo para el botón de Áreas de Práctica */
  .areas-button {
    background-color: #299FB2; /* El color que deseas para el fondo */
    border-color: #299FB2;  
  }
  
  .areas-button:hover {
    background-color: #1f7a8c; /* Color cuando el botón se pasa por encima */
    border-color: #1f7a8c;
  }
  
  /* Estilo para el botón de Contáctame */
  .contact-button {
    background-color: #299FB2; /* El color que deseas para el fondo */
    border-color: #299FB2;  
  }
  
  .contact-button:hover {
    background-color: #1f7a8c; /* Color cuando el botón se pasa por encima */
    border-color: #1f7a8c;
  }
  